In [1]:
from lxml.html import parse
import numpy as np
from urllib.request import urlopen
import requests,zipfile,io
import pandas as pd
import math
import seaborn as sns
import re
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [18]:
data = pd.read_csv("training.csv")

In [19]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,WeekStatus,Day_of_week
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,61200,Weekday,Monday
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,61800,Weekday,Monday
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,62400,Weekday,Monday
3,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,63600,Weekday,Monday
4,2016-01-11 17:50:00,50,40,19.89,46.026667,19.2,44.500000,19.79,44.933333,18.890000,...,734.0,92.0,5.333333,43.833333,4.8,44.919484,44.919484,64200,Weekday,Monday

In [21]:
data.describe(exclude=[np.number])

                       date WeekStatus Day_of_week
count                 14803      14803       14803
unique                14803          2           7
top     2016-02-17 18:50:00    Weekday   Wednesday
freq                      1      10720        2170

In [30]:
data["date"][-1:]

14802    2016-05-27 18:00:00
Name: date, dtype: object

In [7]:
k = str(data["date"][0])

In [12]:
print(k[5:7])

01

In [13]:
data['date'].apply(lambda x: str(data['date']))

0        0        2016-01-11 17:00:00\n1        2016-01...
1        0        2016-01-11 17:00:00\n1        2016-01...
2        0        2016-01-11 17:00:00\n1        2016-01...
3        0        2016-01-11 17:00:00\n1        2016-01...
4        0        2016-01-11 17:00:00\n1        2016-01...
5        0        2016-01-11 17:00:00\n1        2016-01...
6        0        2016-01-11 17:00:00\n1        2016-01...
7        0        2016-01-11 17:00:00\n1        2016-01...
8        0        2016-01-11 17:00:00\n1        2016-01...
9        0        2016-01-11 17:00:00\n1        2016-01...
10       0        2016-01-11 17:00:00\n1        2016-01...
11       0        2016-01-11 17:00:00\n1        2016-01...
12       0        2016-01-11 17:00:00\n1        2016-01...
13       0        2016-01-11 17:00:00\n1        2016-01...
14       0        2016-01-11 17:00:00\n1        2016-01...
15       0        2016-01-11 17:00:00\n1        2016-01...
16       0        2016-01-11 17:00:00\n1        2016-01...
17       0        2016-01-11 17:00:00\n1        2016-01...
18       0        2016-01-11 17:00:00\n1        2016-01...
19       0        2016-01-11 17:00:00\n1        2016-01...
20       0        2016-01-11 17:00:00\n1        2016-01...
21       0        2016-01-11 17:00:00\n1        2016-01...
22       0        2016-01-11 17:00:00\n1        2016-01...
23       0        2016-01-11 17:00:00\n1        2016-01...
24       0        2016-01-11 17:00:00\n1        2016-01...
25       0        2016-01-11 17:00:00\n1        2016-01...
26       0        2016-01-11 17:00:00\n1        2016-01...
27       0        2016-01-11 17:00:00\n1        2016-01...
28       0        2016-01-11 17:00:00\n1        2016-01...
29       0        2016-01-11 17:00:00\n1        2016-01...
                               ...
14773    0        2016-01-11 17:00:00\n1        2016-01...
14774    0        2016-01-11 17:00:00\n1        2016-01...
14775    0        2016-01-11 17:00:00\n1        2016-01...
14776    0        2016-01-11 17:00:00\n1        2016-01...
14777    0        2016-01-11 17:00:00\n1        2016-01...
14778    0        2016-01-11 17:00:00\n1        2016-01...
14779    0        2016-01-11 17:00:00\n1        2016-01...
14780    0        2016-01-11 17:00:00\n1        2016-01...
14781    0        2016-01-11 17:00:00\n1        2016-01...
14782    0        2016-01-11 17:00:00\n1        2016-01...
14783    0        2016-01-11 17:00:00\n1        2016-01...
14784    0        2016-01-11 17:00:00\n1        2016-01...
14785    0        2016-01-11 17:00:00\n1        2016-01...
14786    0        2016-01-11 17:00:00\n1        2016-01...
14787    0        2016-01-11 17:00:00\n1        2016-01...
14788    0        2016-01-11 17:00:00\n1        2016-01...
14789    0        2016-01-11 17:00:00\n1        2016-01...
14790    0        2016-01-11 17:00:00\n1        2016-01...
14791    0        2016-01-11 17:00:00\n1        2016-01...
14792    0        2016-01-11 17:00:00\n1        2016-01...
14793    0        2016-01-11 17:00:00\n1        2016-01...
14794    0        2016-01-11 17:00:00\n1        2016-01...
14795    0        2016-01-11 17:00:00\n1        2016-01...
14796    0        2016-01-11 17:00:00\n1        2016-01...
14797    0        2016-01-11 17:00:00\n1        2016-01...
14798    0        2016-01-11 17:00:00\n1        2016-01...
14799    0        2016-01-11 17:00:00\n1        2016-01...
14800    0        2016-01-11 17:00:00\n1        2016-01...
14801    0        2016-01-11 17:00:00\n1        2016-01...
14802    0        2016-01-11 17:00:00\n1        2016-01...
Name: date, Length: 14803, dtype: object

In [32]:
# data["date"][1][5:7]
data["date"][0][11:]

'17:00:00'