In [1]:
from lxml.html import parse
import numpy as np
from urllib.request import urlopen
import requests,zipfile,io
import pandas as pd
import math
import seaborn as sns
import re
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
import boto
import boto.s3
import sys
from boto.s3.key import Key

def uploadToS3(filePath):
    AWS_ACCESS_KEY_ID = 'AKIAJ7NCU2JC2YSJNKYA'
    AWS_SECRET_ACCESS_KEY = '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'

    bucket_name = AWS_ACCESS_KEY_ID.lower()
    conn = boto.connect_s3(AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY)


    bucket = conn.create_bucket(bucket_name,location=boto.s3.connection.Location.DEFAULT)

    testfile = filePath
    print ('Uploading '+testfile+' to Amazon S3 bucket '+bucket_name)
    def percent_cb(complete, total):
        sys.stdout.write('.')
        sys.stdout.flush()

    print('here1')
    k = Key(bucket)
    k.key = "dump/"+testfile
    k.set_contents_from_filename(testfile,cb=percent_cb, num_cb=10)

In [3]:
def writeLog(line):
    ts = time.time()
    st = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S,%f')
    file = open("logfile.txt","a") 
    file.write('['+st+'] '+line+'\n') 
    file.close()

In [4]:
def writeObs(line):
    ts = time.time()
    file = open("Obsfile.txt","a") 
    file.write(line) 
    file.close()

In [9]:
y = input("Enter the year")
if y in range(2001,2018):
    logString = "The Year Input is "+y
    writeLog(logString)

Enter the year2004

In [10]:
path = './files/'+y

In [11]:
month=1
for i in range(12):

    if month in range(1,4):qtr = 1; month = "0"+str(month)
    elif month in range(4,7):qtr = 2; month = "0"+str(month)
    elif month in range(7,10): qtr = 3; month = "0"+str(month)
    elif month in range(10,13): qtr = 4
    else :pass
   
    r = requests.get("http://www.sec.gov/dera/data/Public-EDGAR-log-file-data/"+y+"/Qtr"+str(qtr)+"/log"+y+str(month)+"01.zip")
    z =zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall(path)
  
    print(y+"/Qtr"+str(qtr)+"/log"+y+str(month)+"01.zip")
    month = int(month) + 1
    

#http://www.sec.gov/dera/data/Public-EDGAR-log-file-data/2003/Qtr2/log20030501.zip

2004/Qtr1/log20040101.zip
2004/Qtr1/log20040201.zip
2004/Qtr1/log20040301.zip
2004/Qtr2/log20040401.zip
2004/Qtr2/log20040501.zip
2004/Qtr2/log20040601.zip
2004/Qtr3/log20040701.zip
2004/Qtr3/log20040801.zip
2004/Qtr3/log20040901.zip
2004/Qtr4/log20041001.zip
2004/Qtr4/log20041101.zip
2004/Qtr4/log20041201.zip

In [15]:
month = 1
for i in range(12):
    if month in range(1, 10) :
        
        data = pd.read_csv(path+"/log"+y+"0"+str(month)+"01.csv") 
        print(y+"/Qtr"+str(qtr)+"/log"+y+"0"+str(month)+"01.csv")
        
        print(type(data))
   #     print(data.head())


        outputname = 'file.txt'      
        myfile = open(outputname, 'w')
        myfile.write(str(data.head()))
        myfile.write(str(data.isnull().sum()))
        myfile.close()
       
        
        #data.info()
    
    elif month in range(10, 13) :
        data = pd.read_csv(path+"/log"+y+str(month)+"01.csv")      
        print(y+"/Qtr"+str(qtr)+"/log"+y+str(month)+"01.csv")
     
    month = month + 1

2004/Qtr4/log20040101.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040201.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040301.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040401.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040501.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040601.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040701.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040801.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20040901.csv
<class 'pandas.core.frame.DataFrame'>
2004/Qtr4/log20041001.csv
2004/Qtr4/log20041101.csv
2004/Qtr4/log20041201.csv

In [31]:
outputname = 'file.txt'      
myfile = open(outputname, 'w')
myfile.write(str(data.head()))
myfile.close()

In [89]:
writeObs(str(data.head().to_string))
data.head()

NameError: name 'writeObs' is not defined

In [16]:
type(data)

pandas.core.frame.DataFrame

In [17]:
month = input("Enter the month ")

Enter the month 01

In [18]:
if month in range(1, 10) :
    data = pd.read_csv(path+"/log"+y+"0"+str(month)+"01.csv")
elif month in range(10, 13) :
    data = pd.read_csv(path+"/log"+y+str(month)+"01.csv")

In [19]:
data.head()

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
0,162.83.150.fab,2004-12-01,00:00:00,500.0,1065088.0,0001184529-04-000006,.txt,200.0,6524.0,0.0,1.0,0.0,0.0,0.0,win
1,162.83.150.fab,2004-12-01,00:00:00,500.0,1065088.0,0001184529-04-000006,-index.htm,200.0,2605.0,1.0,1.0,0.0,0.0,0.0,win
2,68.35.159.gjh,2004-12-01,00:00:00,500.0,889971.0,0001193125-03-055569,d10k.htm,200.0,930609.0,0.0,0.0,0.0,9.0,0.0,win
3,131.193.228.gae,2004-12-01,00:00:01,500.0,909793.0,0001193125-04-050920,d10k.htm,200.0,1104303.0,0.0,1.0,1.0,0.0,0.0,NaN
4,207.59.127.iee,2004-12-01,00:00:01,500.0,1173495.0,0001047469-04-029953,a2144175z8-k.htm,304.0,NaN,0.0,0.0,0.0,9.0,0.0,win

In [20]:
data.isnull().sum()

ip                0
date              0
time              0
zone              0
cik               0
accession         0
extention         0
code              0
size          28398
idx               0
norefer           0
noagent           0
find              0
crawler           0
browser      107585
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715514 entries, 0 to 715513
Data columns (total 15 columns):
ip           715514 non-null object
date         715514 non-null object
time         715514 non-null object
zone         715514 non-null float64
cik          715514 non-null float64
accession    715514 non-null object
extention    715514 non-null object
code         715514 non-null float64
size         687116 non-null float64
idx          715514 non-null float64
norefer      715514 non-null float64
noagent      715514 non-null float64
find         715514 non-null float64
crawler      715514 non-null float64
browser      607929 non-null object
dtypes: float64(9), object(6)
memory usage: 81.9+ MB

In [22]:
data['extention'] = data['extention'].apply(lambda x: re.findall("\..*", x)[0][1: ])

In [23]:
print(data['extention'])

0         txt
1         htm
2         htm
3         htm
4         htm
5         htm
6         htm
7         htm
8         txt
9         htm
10        txt
11        txt
12        htm
13        txt
14        htm
15        htm
16        htm
17        txt
18        htm
19        htm
20        htm
21        htm
22        txt
23        htm
24        txt
25        htm
26        txt
27        txt
28        htm
29        htm
         ...
715484    htm
715485    txt
715486    htm
715487    htm
715488    htm
715489    xml
715490    htm
715491    htm
715492    htm
715493    htm
715494    txt
715495    htm
715496    htm
715497    htm
715498    txt
715499    htm
715500    htm
715501    txt
715502    htm
715503    htm
715504    htm
715505    htm
715506    htm
715507    htm
715508    htm
715509    txt
715510    htm
715511    htm
715512    htm
715513    txt
Name: extention, Length: 715514, dtype: object

In [24]:
data['extention'].value_counts()

htm              496429
txt              170539
xml               36753
hdr.sgml           6477
html               2676
pdf                1098
paper               865
fil                 157
htm/../primar       116
htm/../edgar.        96
htm/../doc4.x        60
htm/../edgard        40
htm/../doc1.x        25
htm/../rrd596        13
htm/../rrd595        10
htm/../rrd597        10
htm/../rrd598         9
htm/../a4.xml         4
htm/../edgar1         4
                      4
xm                    4
ht                    3
xfd                   3
htm/../doc.xm         3
htm/../form4-         3
htm/../hou755         2
htm/../nov30f         2
x                     2
h                     2
htm/../form4_         2
                  ...
htm/../kem111         1
htm/../has111         1
htm/../meany-         1
htm/../rrd591         1
htm.com               1
htm/../bar442         1
htm/../purche         1
htm/../bec53.         1
text                  1
htm/../deb87.         1
htm/../cbrunj         1
htm/../wil322         1
htm/../boc901         1
htm/../gis045         1
htm/../wetmor         1
htm/../rec519         1
htm/../p10094         1
htm/../novell         1
htm/../pel179         1
htm/../lam55.         1
htm/../c00009         1
htm/../pul208         1
htm/../dec012         1
htm/../a47764         1
htm/../bri226         1
htm/../brooks         1
htm/../form4a         1
htm/../wib182         1
htm/../mah208         1
htm/../bry126         1
Name: extention, Length: 127, dtype: int64

In [25]:
data.describe(exclude=[np.number])

,ip,date,time,accession,extention,browser
count,715514,715514,715514,715514,715514,607929
unique,17958,1,84062,247796,127,8
top,162.83.150.fab,2004-12-01,11:05:59,0001047469-04-035571,htm,win
freq,335987,715514,60,4024,496429,579897

In [26]:
data['extention'].unique()

array(['txt', 'htm', 'xml', 'paper', 'html', 'pdf', 'fil', 'ht', 'xm',
       'txt%20%20%20https://sos-res.', 'hdr.sgml', 'x', '.htm', 'htm.com',
       'frm', 'h', 'htm/../doc4.x', 'htm/../primar', 'htm/../edgar.',
       'htm/../rrd596', 'htm/../v09434', 'htm/../rrd594', 'htm/../rrd595',
       'htm/../edgard', 'htm/../form4-', 'htm/../a4.xml', 'htm/../f4chf1',
       'htm/../mah208', 'htm/../dan129', 'htm/../doc1.x', 'htm/../gis045',
       'htm/../bry126', 'htm/../bri226', 'htm/../form4e', 'htm/../mowbra',
       'htm/../ser336', 'htm/../yab337', 'htm/../purche', 'htm/../doc.xm',
       'htm/../bla335', 'htm/../srb_so', 'htm/../ray84.', 'htm/../hs_for',
       'htm/../nov30f', '', 'xfd', 'htm/../e19860', 'htm/../edgar1',
       'htm/../hou755', 'htm/../cam753', 'htm/../form4a', 'htm/../form4_',
       'htm/../novell', 'htm/../ger677', 'htm/../wil322', 'htm/../form41',
       'htm/../rrd597', 'htm/../ros1.x', 'htm/../bar442', 'htm/../bro110',
       'htm/../wib179', 'htm/../a47762', 'htm/../a47761', 'htm/../rsr_11',
       'htm/../rrd589', 'htm/../motto4', 'htm/../pel179', 'htm/../rrd591',
       'htm/../rrd582', 'htm/../gibson', 'htm/../brooks', 'htm/../meany-',
       'htm/../rec519', 'htm/../men111', 'htm/../gal111', 'htm/../c00011',
       'htm/../kem111', 'htm/../pro112', 'htm/../has111', 'htm/../wetmor',
       'htm/../dec012', 'htm/../b52595', 'htm/../valspa', 'htm/../lam55.',
       'htm/../bec53.', 'htm/../cli52.', 'htm/../f4fora', 'htm/../bpi108',
       'htm/../boc901', 'htm/../jeisen', 'htm/../cbrunj', 'text',
       'htm/../p19021', 'htm/../woo127', 'htm/../ddm120', 'htm/../pul208',
       'htm/../luc44.', 'htm/../nov302', 'htm/../wib182', 'htm/../t4147c',
       'htm/../t4147a', 'htm/../rrd598', 'htm/../bra756', 'htm/../v09508',
       'htm/../mog380', 'htm/../kra388', 'htm/../bro384', 'htm/../cmw106',
       'htm/../gal325', 'htm/../a47763', 'htm/../len638', 'htm/../esr636',
       'htm/../bro635', 'htm/../ber634', 'htm/../syk87.', 'htm/../pro_13',
       'htm/../deb87.', 'htm/../bea185', 'htm/../c00012', 'htm/../bop692',
       'htm/../osborn', 'htm/../b40265', 'htm/../a47764', 'htm/../form.x',
       'htm/../p10094', 'htm/../c00009', 'htm/../c00010'], dtype=object)

In [27]:
data['extention'].max()

'xml'

In [28]:
data['extention'].min()

''

In [29]:
data['browser'].unique()

array(['win', nan, 'mie', 'mac', 'lin', 'fox', 'opr', 'rim', 'iem'], dtype=object)

In [30]:
data.head()

,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
0,162.83.150.fab,2004-12-01,00:00:00,500.0,1065088.0,0001184529-04-000006,txt,200.0,6524.0,0.0,1.0,0.0,0.0,0.0,win
1,162.83.150.fab,2004-12-01,00:00:00,500.0,1065088.0,0001184529-04-000006,htm,200.0,2605.0,1.0,1.0,0.0,0.0,0.0,win
2,68.35.159.gjh,2004-12-01,00:00:00,500.0,889971.0,0001193125-03-055569,htm,200.0,930609.0,0.0,0.0,0.0,9.0,0.0,win
3,131.193.228.gae,2004-12-01,00:00:01,500.0,909793.0,0001193125-04-050920,htm,200.0,1104303.0,0.0,1.0,1.0,0.0,0.0,NaN
4,207.59.127.iee,2004-12-01,00:00:01,500.0,1173495.0,0001047469-04-029953,htm,304.0,NaN,0.0,0.0,0.0,9.0,0.0,win

In [31]:
data['size'].isnull().sum()

28398

# Data Cleaning

In [32]:
# Filling Null data in 'size' by mean value

In [33]:
data['size'].fillna(data['size'].mean(), inplace = True)

In [34]:
data['size'].isnull().any()

False

In [35]:
data.isnull().sum()

ip                0
date              0
time              0
zone              0
cik               0
accession         0
extention         0
code              0
size              0
idx               0
norefer           0
noagent           0
find              0
crawler           0
browser      107585
dtype: int64

In [36]:
x=data['browser'].value_counts().max()

In [37]:
data['browser'].value_counts()

win    579897
mie     22546
lin      3683
mac      1465
fox       260
opr        64
rim        13
iem         1
Name: browser, dtype: int64

In [38]:
x=data['browser'].mode()    # most occuring value

In [39]:
data['browser'].fillna(x[0], inplace = True)

In [40]:
x[0]

'win'

In [41]:
data['browser'].value_counts()

win    687482
mie     22546
lin      3683
mac      1465
fox       260
opr        64
rim        13
iem         1
Name: browser, dtype: int64

In [42]:
data.isnull().any()

ip           False
date         False
time         False
zone         False
cik          False
accession    False
extention    False
code         False
size         False
idx          False
norefer      False
noagent      False
find         False
crawler      False
browser      False
dtype: bool

In [43]:
data['noagent'].value_counts()

0.0    686031
1.0     29483
Name: noagent, dtype: int64

In [44]:
data['norefer'].value_counts()

1.0    561739
0.0    153775
Name: norefer, dtype: int64

In [45]:
data['idx'].value_counts()

1.0    456845
0.0    258669
Name: idx, dtype: int64

In [48]:
data['browser'].value_counts()

win    687482
mie     22546
lin      3683
mac      1465
fox       260
opr        64
rim        13
iem         1
Name: browser, dtype: int64

### Browser's max frequency is in win and min in iem

In [49]:
data.describe()

,zone,cik,code,size,idx,norefer,noagent,find,crawler
count,715514.0,7.155140e+05,715514.000000,7.155140e+05,715514.000000,715514.000000,715514.000000,715514.000000,715514.000000
mean,500.0,9.322331e+05,232.004405,4.875050e+04,0.638485,0.785085,0.041205,1.084188,0.025206
std,0.0,2.047807e+07,47.982875,3.279754e+05,0.480440,0.410764,0.198765,2.753191,0.156749
min,500.0,2.000000e+01,200.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,500.0,8.018980e+05,200.000000,2.760000e+02,0.000000,1.000000,0.000000,0.000000,0.000000
50%,500.0,1.013220e+06,200.000000,2.988000e+03,1.000000,1.000000,0.000000,0.000000,0.000000
75%,500.0,1.182116e+06,302.000000,8.106000e+03,1.000000,1.000000,0.000000,0.000000,0.000000
max,500.0,1.000000e+10,408.000000,4.647773e+07,1.000000,1.000000,1.000000,10.000000,1.000000

In [50]:
data['cik'].min()

20.0

In [51]:
data['cik'].max()

9999999991.0

In [52]:
data['extention'].min()

''

In [53]:
data['extention'].max()

'xml'

### Observation
#### Max cik is 1274986 and min is 20
#### Max Extension value is 16 and Min is

### Summary Metrics

In [54]:
date = data['date'].max()

In [55]:
date # Computing date of the data

'2004-12-01'

In [56]:
tot_record = len(data)

In [57]:
tot_record# computing total number of records

715514

In [58]:
max_c=data['cik'].value_counts()

In [59]:
max_cik= max_c.max()

In [60]:
max_cik# Max count value of cik

5157

In [61]:
max_size = data['size'].max()# Computing maximum size

In [62]:
max_size

46477728.0

In [63]:
max_size

46477728.0

In [64]:
sum_size = data['size'].sum()

In [65]:
length_size = len(data)

In [66]:
avg_size= sum_size/length_size# computing average of size

In [67]:
avg_size

48750.49918789709

In [68]:
max_ext = data['extention'].value_counts()

In [69]:
extention_max = data.extention[max_ext.max()]

In [70]:
extention_max #Computing maximum extention used

'htm'

In [71]:
max_brw = data['browser'].value_counts()

In [72]:
max_brw.max()

687482

In [73]:
brw_max = data.browser[max_brw.max()]

In [74]:
brw_max # Computing most occur browser

'win'

In [75]:
row_entry = pd.Series([date, tot_record, max_cik, max_size, avg_size, extention_max, brw_max])

In [76]:
row_entry

0     2004-12-01
1         715514
2           5157
3    4.64777e+07
4        48750.5
5            htm
6            win
dtype: object

In [77]:
# Creating Summary metrics
summary_metrics = pd.DataFrame(columns=['Date','Total Records','Most Cik',
                              'Maximum File Size','Average File size','Most used extention','Most used browser'])

In [78]:
summary_metrics

Empty DataFrame
Columns: [Date, Total Records, Most Cik, Maximum File Size, Average File size, Most used extention, Most used browser]
Index: []

In [79]:
import csv

In [80]:
courses_list=[]

In [81]:
summary_metrics = summary_metrics.append(
                   pd.Series([date, tot_record, max_cik, max_size, avg_size, extention_max, brw_max],
                            index=['Date','Total Records','Most Cik',
                              'Maximum File Size','Average File size','Most used extention','Most used browser'])
                   ,ignore_index=True)

In [82]:
summary_metrics

,Date,Total Records,Most Cik,Maximum File Size,Average File size,Most used extention,Most used browser
0,2004-12-01,715514,5157,46477728.0,48750.499188,htm,win