# Featue Engineering

In [48]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import time
import numpy as np
import seaborn as sns
import datetime
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy


from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [59]:
data= pd.read_csv("Dataset/energydata_complete.csv")
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [61]:
vec.get_feature_names()

['Appliances',
 'NSM',
 'Press_mm_hg',
 'RH_1',
 'RH_2',
 'RH_3',
 'RH_4',
 'RH_5',
 'RH_6',
 'RH_7',
 'RH_8',
 'RH_9',
 'RH_out',
 'T1',
 'T2',
 'T3',
 'T4',
 'T5',
 'T6',
 'T7',
 'T8',
 'T9',
 'T_out',
 'Tdewpoint',
 'Visibility',
 'Windspeed',
 'lights',
 'rv1',
 'rv2']

In [62]:
def dayoftheweek(day):
    if(day==0):
        return("Monday")
    if(day==1):
        return("Tuesday")
    if(day==2):
        return("Wednesday")
    if(day==3):
        return("Thurday")
    if(day==4):
        return("Friday")
    if(day==5):
        return("Saturday")
    if(day==6):
        return("Sunday")

In [64]:
# Convert argument to datetime
data["date"] = pd.to_datetime(data["date"],format="%Y-%m-%d %H:%M:%S")

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null datetime64[ns]
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [66]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [67]:
data["dayoftheweek"] = data['date']
data["dayoftheweek"] = data['dayoftheweek'].apply(lambda x: dayoftheweek(x.dayofweek))
data.groupby('dayoftheweek').count()["date"]

dayoftheweek
Friday       2845
Monday       2778
Saturday     2736
Sunday       2736
Thurday      2880
Tuesday      2880
Wednesday    2880
Name: date, dtype: int64

In [68]:
def weekdaytype(day):
    if(day=="Saturday" or day == "Sunday"):
        return "weekend"
    else:
        return "Weekday"

In [69]:
data["WeekDayType"] = data["dayoftheweek"]
data["WeekDayType"] = data['WeekDayType'].apply(lambda x: weekdaytype(x))
data.groupby('WeekDayType').count()["date"]

WeekDayType
Weekday    14263
weekend     5472
Name: date, dtype: int64

In [70]:
years = data["date"].map(lambda x : x.year)
years_indata = years.unique()
print(years_indata)

[2016]

In [71]:
months = data["date"].map(lambda x: x.month)
months_indata = months.unique()
print(months_indata)

[1 2 3 4 5]

In [74]:
try :
    data['NSM'] = pd.to_datetime(data['date'])
    (data['NSM'].dt.hour*60 + data['NSM'].dt.minute)*60 + data['NSM'].dt.second
    
except :
    logging.ERROR('Addition of midnight column failed')

In [95]:
data["weekOfTheYear"] = data['date'].apply(lambda x: x.isocalendar()[1])
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Windspeed,Visibility,Tdewpoint,rv1,rv2,dayoftheweek,WeekDayType,NSM,weekOfTheYear,season
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,7.000000,63.000000,5.300000,13.275433,13.275433,Monday,Weekday,2016-01-11 17:00:00,2,winter
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,6.666667,59.166667,5.200000,18.606195,18.606195,Monday,Weekday,2016-01-11 17:10:00,2,winter
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,6.333333,55.333333,5.100000,28.642668,28.642668,Monday,Weekday,2016-01-11 17:20:00,2,winter
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,6.000000,51.500000,5.000000,45.410389,45.410389,Monday,Weekday,2016-01-11 17:30:00,2,winter
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,5.666667,47.666667,4.900000,10.084097,10.084097,Monday,Weekday,2016-01-11 17:40:00,2,winter
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,5.333333,43.833333,4.800000,44.919484,44.919484,Monday,Weekday,2016-01-11 17:50:00,2,winter
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,5.000000,40.000000,4.700000,47.233763,47.233763,Monday,Weekday,2016-01-11 18:00:00,2,winter
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,5.166667,40.000000,4.683333,33.039890,33.039890,Monday,Weekday,2016-01-11 18:10:00,2,winter
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,5.333333,40.000000,4.666667,31.455702,31.455702,Monday,Weekday,2016-01-11 18:20:00,2,winter
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,5.500000,40.000000,4.650000,3.089314,3.089314,Monday,Weekday,2016-01-11 18:30:00,2,winter
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,5.666667,40.000000,4.633333,10.298729,10.298729,Monday,Weekday,2016-01-11 18:40:00,2,winter
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,5.833333,40.000000,4.616667,8.827838,8.827838,Monday,Weekday,2016-01-11 18:50:00,2,winter
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,6.000000,40.000000,4.600000,34.351142,34.351142,Monday,Weekday,2016-01-11 19:00:00,2,winter
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,6.000000,40.000000,4.516667,19.205186,19.205186,Monday,Weekday,2016-01-11 19:10:00,2,winter
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,6.000000,40.000000,4.433333,38.492071,38.492071,Monday,Weekday,2016-01-11 19:20:00,2,winter
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,6.000000,40.000000,4.350000,24.884962,24.884962,Monday,Weekday,2016-01-11 19:30:00,2,winter
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,6.000000,40.000000,4.266667,35.880925,35.880925,Monday,Weekday,2016-01-11 19:40:00,2,winter
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,6.000000,40.000000,4.183333,49.595305,49.595305,Monday,Weekday,2016-01-11 19:50:00,2,winter
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,6.000000,40.000000,4.100000,19.001759,19.001759,Monday,Weekday,2016-01-11 20:00:00,2,winter
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,6.000000,40.000000,4.066667,38.872261,38.872261,Monday,Weekday,2016-01-11 20:10:00,2,winter
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,6.000000,40.000000,4.033333,46.735262,46.735262,Monday,Weekday,2016-01-11 20:20:00,2,winter
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,6.000000,40.000000,4.000000,10.607126,10.607126,Monday,Weekday,2016-01-11 20:30:00,2,winter
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,6.000000,40.000000,3.966667,32.583688,32.583688,Monday,Weekday,2016-01-11 20:40:00,2,winter
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,6.000000,40.000000,3.933333,6.277755,6.277755,Monday,Weekday,2016-01-11 20:50:00,2,winter
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,6.000000,40.000000,3.900000,13.361033,13.361033,Monday,Weekday,2016-01-11 21:00:00,2,winter
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,6.000000,40.000000,3.866667,19.305705,19.305705,Monday,Weekday,2016-01-11 21:10:00,2,winter
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,6.000000,40.000000,3.833333,0.669517,0.669517,Monday,Weekday,2016-01-11 21:20:00,2,winter
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,6.000000,40.000000,3.800000,19.119398,19.119398,Monday,Weekday,2016-01-11 21:30:00,2,winter
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,6.000000,40.000000,3.766667,43.484542,43.484542,Monday,Weekday,2016-01-11 21:40:00,2,winter
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,6.000000,40.000000,3.733333,17.017450,17.017450,Monday,Weekday,2016-01-11 21:50:00,2,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,1.166667,23.666667,13.100000,32.420348,32.420348,Friday,Weekday,2016-05-27 13:10:00,21,spring
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,1.333333,23.333333,13.200000,49.189027,49.189027,Friday,Weekday,2016-05-27 13:20:00,21,spring
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,1.500000,23.000000,13.300000,15.081162,15.081162,Friday,Weekday,2016-05-27 13:30:00,21,spring
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,1.666667,22.666667,13.400000,45.226866,45.226866,Friday,Weekday,2016-05-27 13:40:00,21,spring
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,1.833333,22.333333,13.500000,5.773431,5.773431,Friday,Weekday,2016-05-27 13:50:00,21,spring
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,2.000000,22.000000,13.600000,41.515044,41.515044,Friday,Weekday,2016-05-27 14:00:00,21,spring
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,2.000000,21.833333,13.550000,19.540642,19.540642,Friday,Weekday,2016-05-27 14:10:00,21,spring
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,2.000000,21.666667,13.500000,16.977597,16.977597,Friday,Weekday,2016-05-27 14:20:00,21,spring
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,2.000000,21.500000,13.450000,8.991420,8.991420,Friday,Weekday,2016-05-27 14:30:00,21,spring
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,2.000000,21.333333,13.400000,40.409885,40.409885,Friday,Weekday,2016-05-27 14:40:00,21,spring
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,2.000000,21.166667,13.350000,37.889086,37.889086,Friday,Weekday,2016-05-27 14:50:00,21,spring
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,2.000000,21.000000,13.300000,17.123315,17.123315,Friday,Weekday,2016-05-27 15:00:00,21,spring
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,2.000000,21.333333,13.283333,24.058432,24.058432,Friday,Weekday,2016-05-27 15:10:00,21,spring
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,2.000000,21.666667,13.266667,9.538671,9.538671,Friday,Weekday,2016-05-27 15:20:00,21,spring
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,2.000000,22.000000,13.250000,30.020685,30.020685,Friday,Weekday,2016-05-27 15:30:00,21,spring
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,2.000000,22.333333,13.233333,23.851737,23.851737,Friday,Weekday,2016-05-27 15:40:00,21,spring
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,2.000000,22.666667,13.216667,47.981309,47.981309,Friday,Weekday,2016-05-27 15:50:00,21,spring
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,2.000000,23.000000,13.200000,18.215602,18.215602,Friday,Weekday,2016-05-27 16:00:00,21,spring
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,2.166667,22.833333,13.233333,38.751594,38.751594,Friday,Weekday,2016-05-27 16:10:00,21,spring
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,2.333333,22.666667,13.266667,32.306224,32.306224,Friday,Weekday,2016-05-27 16:20:00,21,spring
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,2.500000,22.500000,13.300000,23.009520,23.009520,Friday,Weekday,2016-05-27 16:30:00,21,spring
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,2.666667,22.333333,13.333333,25.296732,25.296732,Friday,Weekday,2016-05-27 16:40:00,21,spring
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,2.833333,22.166667,13.366667,1.796395,1.796395,Friday,Weekday,2016-05-27 16:50:00,21,spring
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,3.000000,22.000000,13.400000,18.248201,18.248201,Friday,Weekday,2016-05-27 17:00:00,21,spring
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,3.166667,22.833333,13.366667,16.966162,16.966162,Friday,Weekday,2016-05-27 17:10:00,21,spring
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,3.333333,23.666667,13.333333,43.096812,43.096812,Friday,Weekday,2016-05-27 17:20:00,21,spring
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,3.500000,24.500000,13.300000,49.282940,49.282940,Friday,Weekday,2016-05-27 17:30:00,21,spring
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,3.666667,25.333333,13.266667,29.199117,29.199117,Friday,Weekday,2016-05-27 17:40:00,21,spring
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,3.833333,26.166667,13.233333,6.322784,6.322784,Friday,Weekday,2016-05-27 17:50:00,21,spring
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,4.000000,27.000000,13.200000,34.118851,34.118851,Friday,Weekday,2016-05-27 18:00:00,21,spring

In [92]:
from datetime import date, datetime
Y = 2000 # dummy leap year to allow input X-02-29 (leap day)
seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
           ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('autumn', (date(Y,  9, 23),  date(Y, 12, 20))),
           ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]
def get_season(now):
    if isinstance(now, datetime):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

print(get_season(data['date'][19734]))

spring

In [94]:
data['season'] = data['date'].apply(lambda x: get_season(x))
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Windspeed,Visibility,Tdewpoint,rv1,rv2,dayoftheweek,WeekDayType,NSM,weekOfTheYear,season
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,7.000000,63.000000,5.300000,13.275433,13.275433,Monday,Weekday,2016-01-11 17:00:00,2,winter
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,6.666667,59.166667,5.200000,18.606195,18.606195,Monday,Weekday,2016-01-11 17:10:00,2,winter
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,6.333333,55.333333,5.100000,28.642668,28.642668,Monday,Weekday,2016-01-11 17:20:00,2,winter
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,6.000000,51.500000,5.000000,45.410389,45.410389,Monday,Weekday,2016-01-11 17:30:00,2,winter
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,5.666667,47.666667,4.900000,10.084097,10.084097,Monday,Weekday,2016-01-11 17:40:00,2,winter
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,5.333333,43.833333,4.800000,44.919484,44.919484,Monday,Weekday,2016-01-11 17:50:00,2,winter
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,5.000000,40.000000,4.700000,47.233763,47.233763,Monday,Weekday,2016-01-11 18:00:00,2,winter
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,5.166667,40.000000,4.683333,33.039890,33.039890,Monday,Weekday,2016-01-11 18:10:00,2,winter
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,5.333333,40.000000,4.666667,31.455702,31.455702,Monday,Weekday,2016-01-11 18:20:00,2,winter
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,5.500000,40.000000,4.650000,3.089314,3.089314,Monday,Weekday,2016-01-11 18:30:00,2,winter
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,5.666667,40.000000,4.633333,10.298729,10.298729,Monday,Weekday,2016-01-11 18:40:00,2,winter
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,5.833333,40.000000,4.616667,8.827838,8.827838,Monday,Weekday,2016-01-11 18:50:00,2,winter
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,6.000000,40.000000,4.600000,34.351142,34.351142,Monday,Weekday,2016-01-11 19:00:00,2,winter
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,6.000000,40.000000,4.516667,19.205186,19.205186,Monday,Weekday,2016-01-11 19:10:00,2,winter
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,6.000000,40.000000,4.433333,38.492071,38.492071,Monday,Weekday,2016-01-11 19:20:00,2,winter
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,6.000000,40.000000,4.350000,24.884962,24.884962,Monday,Weekday,2016-01-11 19:30:00,2,winter
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,6.000000,40.000000,4.266667,35.880925,35.880925,Monday,Weekday,2016-01-11 19:40:00,2,winter
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,6.000000,40.000000,4.183333,49.595305,49.595305,Monday,Weekday,2016-01-11 19:50:00,2,winter
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,6.000000,40.000000,4.100000,19.001759,19.001759,Monday,Weekday,2016-01-11 20:00:00,2,winter
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,6.000000,40.000000,4.066667,38.872261,38.872261,Monday,Weekday,2016-01-11 20:10:00,2,winter
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,6.000000,40.000000,4.033333,46.735262,46.735262,Monday,Weekday,2016-01-11 20:20:00,2,winter
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,6.000000,40.000000,4.000000,10.607126,10.607126,Monday,Weekday,2016-01-11 20:30:00,2,winter
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,6.000000,40.000000,3.966667,32.583688,32.583688,Monday,Weekday,2016-01-11 20:40:00,2,winter
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,6.000000,40.000000,3.933333,6.277755,6.277755,Monday,Weekday,2016-01-11 20:50:00,2,winter
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,6.000000,40.000000,3.900000,13.361033,13.361033,Monday,Weekday,2016-01-11 21:00:00,2,winter
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,6.000000,40.000000,3.866667,19.305705,19.305705,Monday,Weekday,2016-01-11 21:10:00,2,winter
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,6.000000,40.000000,3.833333,0.669517,0.669517,Monday,Weekday,2016-01-11 21:20:00,2,winter
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,6.000000,40.000000,3.800000,19.119398,19.119398,Monday,Weekday,2016-01-11 21:30:00,2,winter
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,6.000000,40.000000,3.766667,43.484542,43.484542,Monday,Weekday,2016-01-11 21:40:00,2,winter
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,6.000000,40.000000,3.733333,17.017450,17.017450,Monday,Weekday,2016-01-11 21:50:00,2,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,1.166667,23.666667,13.100000,32.420348,32.420348,Friday,Weekday,2016-05-27 13:10:00,21,spring
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,1.333333,23.333333,13.200000,49.189027,49.189027,Friday,Weekday,2016-05-27 13:20:00,21,spring
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,1.500000,23.000000,13.300000,15.081162,15.081162,Friday,Weekday,2016-05-27 13:30:00,21,spring
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,1.666667,22.666667,13.400000,45.226866,45.226866,Friday,Weekday,2016-05-27 13:40:00,21,spring
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,1.833333,22.333333,13.500000,5.773431,5.773431,Friday,Weekday,2016-05-27 13:50:00,21,spring
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,2.000000,22.000000,13.600000,41.515044,41.515044,Friday,Weekday,2016-05-27 14:00:00,21,spring
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,2.000000,21.833333,13.550000,19.540642,19.540642,Friday,Weekday,2016-05-27 14:10:00,21,spring
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,2.000000,21.666667,13.500000,16.977597,16.977597,Friday,Weekday,2016-05-27 14:20:00,21,spring
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,2.000000,21.500000,13.450000,8.991420,8.991420,Friday,Weekday,2016-05-27 14:30:00,21,spring
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,2.000000,21.333333,13.400000,40.409885,40.409885,Friday,Weekday,2016-05-27 14:40:00,21,spring
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,2.000000,21.166667,13.350000,37.889086,37.889086,Friday,Weekday,2016-05-27 14:50:00,21,spring
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,2.000000,21.000000,13.300000,17.123315,17.123315,Friday,Weekday,2016-05-27 15:00:00,21,spring
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,2.000000,21.333333,13.283333,24.058432,24.058432,Friday,Weekday,2016-05-27 15:10:00,21,spring
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,2.000000,21.666667,13.266667,9.538671,9.538671,Friday,Weekday,2016-05-27 15:20:00,21,spring
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,2.000000,22.000000,13.250000,30.020685,30.020685,Friday,Weekday,2016-05-27 15:30:00,21,spring
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,2.000000,22.333333,13.233333,23.851737,23.851737,Friday,Weekday,2016-05-27 15:40:00,21,spring
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,2.000000,22.666667,13.216667,47.981309,47.981309,Friday,Weekday,2016-05-27 15:50:00,21,spring
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,2.000000,23.000000,13.200000,18.215602,18.215602,Friday,Weekday,2016-05-27 16:00:00,21,spring
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,2.166667,22.833333,13.233333,38.751594,38.751594,Friday,Weekday,2016-05-27 16:10:00,21,spring
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,2.333333,22.666667,13.266667,32.306224,32.306224,Friday,Weekday,2016-05-27 16:20:00,21,spring
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,2.500000,22.500000,13.300000,23.009520,23.009520,Friday,Weekday,2016-05-27 16:30:00,21,spring
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,2.666667,22.333333,13.333333,25.296732,25.296732,Friday,Weekday,2016-05-27 16:40:00,21,spring
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,2.833333,22.166667,13.366667,1.796395,1.796395,Friday,Weekday,2016-05-27 16:50:00,21,spring
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,3.000000,22.000000,13.400000,18.248201,18.248201,Friday,Weekday,2016-05-27 17:00:00,21,spring
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,3.166667,22.833333,13.366667,16.966162,16.966162,Friday,Weekday,2016-05-27 17:10:00,21,spring
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,3.333333,23.666667,13.333333,43.096812,43.096812,Friday,Weekday,2016-05-27 17:20:00,21,spring
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,3.500000,24.500000,13.300000,49.282940,49.282940,Friday,Weekday,2016-05-27 17:30:00,21,spring
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,3.666667,25.333333,13.266667,29.199117,29.199117,Friday,Weekday,2016-05-27 17:40:00,21,spring
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,3.833333,26.166667,13.233333,6.322784,6.322784,Friday,Weekday,2016-05-27 17:50:00,21,spring
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,4.000000,27.000000,13.200000,34.118851,34.118851,Friday,Weekday,2016-05-27 18:00:00,21,spring

In [75]:
%matplotlib inline
day_date = range(1, 32)
month_date = range(1, 6)
save = {False,True}
def day_visual(Day,Month, parameter1, parameter2,save):
    new_data = data[(data['date'].map(lambda x: x.day) == Day) & (data['date'].map(lambda x: x.month) == Month)]
    plt.subplot(211)
    title = "Plot of "+parameter1+" and " +parameter2+" vs time"
    plt.title("Plot of "+parameter1+" and " +parameter2+" vs time" ) 
    plt.plot(new_data['date'].map(lambda x: x.hour), new_data[parameter1])
    plt.xlabel("Time") 
    plt.ylabel(parameter1)
    plt.subplot(212) 
    plt.plot(new_data['date'].map(lambda x: x.hour), new_data[parameter2])
    plt.ylabel(parameter2)
    plt.xlabel("Time")
    if(save):
        plt.savefig("./Result/"+str(Month)+"_"+title.replace(" ","_")+".png")
    plt.show()
    return print("Correlation between ",parameter1," and ",parameter2,"is",str(new_data[parameter1].corr(new_data[parameter2])))
interact(day_visual,Day=day_date,Month=month_date, parameter1 = list(data),parameter2 = list(data), save=save)

interactive(children=(Dropdown(description='Day', options=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31), value=1), Dropdown(description='Month', options=(1, 2, 3, 4, 5), value=1), Dropdown(description='parameter1', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'WeekDayType', 'NSM'), value='date'), Dropdown(description='parameter2', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'WeekDayType', 'NSM'), value='date'), Dropdown(description='save', options=(False, True), value=False), Output()), _dom_classes=('widget-interact',))

In [73]:
%matplotlib inline
day_date = range(1, 32)
month_date = range(1, 6)
save = {False,True}
def day_visual(Month, parameterx, parametery,save):
    new_data = data[(data['date'].map(lambda x: x.month) == Month)]
    title = "Plot of "+parameterx+" vs " +parametery
    plt.title(title) 
    plt.plot(new_data[parameterx], new_data[parametery])
    plt.xlabel(parameterx) 
    plt.ylabel(parametery)
    if(save):
        plt.savefig("./Result/"+str(Month)+"_"+title.replace(" ","_")+".png")
    plt.show()
interact(day_visual,Month=month_date, parameterx = list(data),parametery = list(data), save=save)

interactive(children=(Dropdown(description='Month', options=(1, 2, 3, 4, 5), value=1), Dropdown(description='parameterx', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'WeekDayType'), value='date'), Dropdown(description='parametery', options=('date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2', 'dayoftheweek', 'WeekDayType'), value='date'), Dropdown(description='save', options=(False, True), value=False), Output()), _dom_classes=('widget-interact',))

In [116]:
%matplotlib inline
month_date = range(1, 6)
save = {False,True}
def day_visual(Month, T1,T2,T3,T4,T5,T6,save):
    new_data = data[(data['date'].map(lambda x: x.month) == Month)]
    title = "Plot of Temperature"+" vs " +"Time"
    plt.title(title) 
    plt.plot(new_data['date'].map(lambda x: (x.timetuple().tm_yday*24*60*60)),new_data['T1'])
    plt.xlabel("Time") 
    
    plt.ylabel("Temperature")
    if(save):
        plt.savefig("./Result/"+str(Month)+"_"+title.replace(" ","_")+".png")
    plt.show()
interact(day_visual,Month=month_date,T1=False,T2=False,T3=False,T4=False,T5=False,T6=False, save=save)

interactive(children=(Dropdown(description='Month', options=(1, 2, 3, 4, 5), value=1), Checkbox(value=False, description='T1'), Checkbox(value=False, description='T2'), Checkbox(value=False, description='T3'), Checkbox(value=False, description='T4'), Checkbox(value=False, description='T5'), Checkbox(value=False, description='T6'), Dropdown(description='save', options=(False, True), value=False), Output()), _dom_classes=('widget-interact',))